@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #D4AF37;
  --black: #0A0A0A;
  --dark-gray: #141414;
}

body {
  @apply bg-premium-black text-white antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gold);
}
